<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.StreetMapper">
    <select id="selectHouseDistrictsInfoMapByCityCode" resultType="Map">
        SELECT DISTINCT district,city,area,street
        FROM app_house
        <where>
            <if test="city_code!=null">
                city=#{city_code}
            </if>
        </where>
    </select>

    <select id="selectHouse_CityAreaHouseCount" resultType="map">
        SELECT
        a.id as id,
        a.name as name ,
        h2.area as code,
        h2.count as count
        FROM
        (
        SELECT
        h.area,
        count(h.id) AS count
        FROM
        app_house AS h
        <where>
            <if test="city_code!=null">
                city=#{city_code}
            </if>
        </where>
        GROUP BY
        h.area
        ) AS h2
        LEFT JOIN area AS a ON h2.area = a. CODE
    </select>

    <select id="selectHouse_CityAreaHouseAvgMaxMinCount" resultType="map">
        SELECT
        a.id AS id,
        a. NAME AS name,
        h2.count as count,
        h2.area AS code,
        h2.max_price AS max_price,
        h2.min_price AS min_price,
        h2.avg_price AS avg_price
        FROM
        (
        SELECT
        h.area,
        count(h.area) as count,
        max(h.square_metre_price) as max_price,
        min(h.square_metre_price) as min_price,
        avg(h.square_metre_price) AS avg_price
        FROM
        app_house AS h
        <where>
            <if test="city_code!=null">
                city=#{city_code}
            </if>
        </where>
        GROUP BY
        h.area
        ) AS h2
        LEFT JOIN area AS a ON h2.area = a. CODE
    </select>

    <select id="selectHouse_CityAreaStreetHouseAvgMaxMinCount" resultType="map">
        SELECT
        s.id AS id,
        s. NAME AS name,
        h2.count AS count,
        h2.street AS code,
        h2.max_price AS max_price,
        h2.min_price AS min_price,
        h2.avg_price AS avg_price
        FROM
        (
        SELECT
        h.street,
        count(h.street) AS count,
        max(h.square_metre_price) AS max_price,
        min(h.square_metre_price) AS min_price,
        avg(h.square_metre_price) AS avg_price
        FROM
        app_house AS h
        <where>
            <if test="city_code!=null">
                city=#{city_code}
            </if>
            <if test="area_code!=null">
                and area=#{area_code}
            </if>
        </where>
        GROUP BY
        h.street
        ) AS h2
        LEFT JOIN street AS s ON h2.street = s.code
    </select>

    <select id="selectHouse_CityAreaStreetDistrictHouseAvgMaxMinCount" resultType="map">
        SELECT
        h.city,
        h.area,
        h.street,
        h.district,
        count(h.district) AS count,
        max(h.square_metre_price) AS max_price,
        min(h.square_metre_price) AS min_price,
        avg(h.square_metre_price) AS avg_price
        FROM
        app_house AS h
        <where>
            <if test="city_code!=null">
                city=#{city_code}
            </if>
            <if test="area_code!=null">
                and area=#{area_code}
            </if>
            <if test="street_code!=null">
                and street=#{street_code}
            </if>
        </where>
        GROUP BY
        h.district
    </select>
</mapper>